/* ==========================
    Contenedor de MovieGrid
========================== */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  text-align: center;
  color: #213547;
  font-size: 2em;
  margin: 18px;

}