/* ==========================
    Contenedor de MovieCard
========================== */
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
  max-width: 250px;
  min-height: 500px;  /* Incremento de altura para uniformidad */
  color: #fff;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* ==========================
    Poster de la película
========================== */
.movie-poster {
  width: 100%;
  border-bottom: 2px solid #333;
  border-radius: 10px 10px 0 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .movie-poster {
  opacity: 0.9;
}

/* ==========================
    Información de la película
========================== */
.movie-info {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  color: #f5f5f5;
}

.movie-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-year {
  font-size: 0.9em;
  color: #bbb;
  text-align: center;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-rating {
  font-size: 0.9em;
  color: #f5c518;
  text-align: center;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-genres {
  font-size: 0.8em;
  color: #bbb;
  text-align: center;
  min-height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================
    Botón de Favoritos
========================== */
.favorite-button {
  text-align: center;
  font-size: 1.5em;
  color: #ccc;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.favorite-button:hover {
  transform: scale(1.2);
  color: #f5c518;
}

.fav-active {
  color: red;
  transform: scale(1.1);
}

/* ==========================
    Responsividad
========================== */
@media (max-width: 768px) {
  .movie-card {
    max-width: 100%;
    margin-bottom: 20px;
  }
}