.movie-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.favorite-button.active {
  color: red;
}