.movie-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .movie-info {
    padding: 10px;
  }
  
  .movie-info h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
  }
  
  .movie-info p {
    color: #777;
    margin: 0;
  }
  
  .favorite-button {
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .favorite-button.active {
    color: red;
  }